
.required::after {
    content: '*';
    color: #ED2D2C;
}

.centerBlock {
    text-align: center;
}

.customColour {
    background-color: #E2B670;
}

.invisible {
    position: absolute;
    left: -9999px;
}

.customeDisplay {
    pointer-events: none;
}


.whiteText{
    color:white;
}

